
/*header{
	height: 300px;
	width: 100vw;
	background-color: #f4a460;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}

h1{
	/*position: absolute;*/
	/*font-size: 50px;
*//*	margin-left: 400px
	margin-top: 150px;
*/
/*}

.leftDiv{
	position: absolute;;
	margin-top: 200px;
	text-align: 30px;
}*/